.Button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background: var(--color-brand);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        opacity: 0.8;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
