.Icon {
    fill: var(--color-brand);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;

    &:active {
        transform: scale(0.95);
    }
}

.button:hover .Icon {
    opacity: 0.8;
}
