:root {
  // main
  --color-bg: white;
  --color-bg-dark: #e2eef1;
  --color-brand: rgb(22 155 213 / 100%);

  // text
  --color-text-main: black;
  --color-text-main-inverted: white;
  --color-text-brand: rgb(22 155 213 / 100%);
}
